<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
    <body>
    <h1>Hello World!</h1>
    <pre>
        <p th:text="${name}" ></p>
        <p th:text="|Hello! ${name}!|" ></p>

        <tbody>
            <tr th:each="color:${colors}">
                <!--<td th:text=""${colorStat.count}></td>-->
                <td th:text="${color}" ></td>
            </tr>
        </tbody>

        <thead>
            <th th:each="kv : ${map}" th:text="|key:${kv.key} value:${kv.value}|"></th>
            <!--<th th:each="kv : ${map}" th:text="${kv.value}"></th>-->
        </thead>

        <p th:text= "${user.getName()}"></p>
        <p th:text= "${user.getDescription()}"></p>

    </pre>
    </body>
</html>
