<!DOCTYPE html>

<html lang="zh-CN" dropeffect="none"
      class="js is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile"
      style=""
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:insert="~{header::header1}"></head>
<div th:insert="~{header::header2}"></div>
    <link rel="stylesheet" media="all" href="../static/styles/letter.css" th:href="@{/static/styles/letter.css}">
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                <tr th:each="conversation:${conversations}">
                    <li id="conversation-item-10005_622873">
                        <a class="letter-link" th:href="'/msg/detail?conversationId='+${conversation.get('message')['conversationId']}"></a>
                        <div class="letter-info">
                            <span class="l-time">[[${#dates.format(conversation.get('message')['createdDate'], 'yyyy年MM月dd HH:mm:ss')}]]</span>
                            <div class="l-operate-bar">
                                <!--<a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                                删除
                                </a>-->
                                <a th:href="'/msg/detail?conversationId='+${conversation.get('message')['conversationId']}">
                                    共[[${conversation.get('message')['id']}]]条会话
                                </a>
                            </div>
                        </div>
                        <div class="chat-headbox">
                            <a th:if="${conversation.get('unread')>0}">
                            <span class="msg-num">
                                [[${conversation.get('unread')}]]
                            </span>
                            </a>
                            <a class="list-head">
                                <img alt="头像" th:src="${conversation.get('user')['headUrl']}">
                            </a>
                        </div>
                        <div class="letter-detail">
                            <a title="通知" class="letter-name level-color-1">
                                [[${conversation.get('user')['name']}]]
                            </a>
                            <p class="letter-brief">
                                [[${conversation.get('message')['content']}]]
                            </p>
                        </div>
                    </li>
                </tr>
                </ul>

        </div>
    </div>
<div th:replace="~{js::js}"></div>
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>
<div th:replace="~{footer::footer}"></div>
</html>